@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

:root{
    --text-color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
html,
body {
  font-size: 6em;  
  overflow: hidden; 
  font-family: 'Monoton', cursive;
}
div{
  background: var(--text-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}
.creds{
  position: absolute;
  bottom:0;
  right: 0;
  z-index: 6;
  
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
}
.container{
  height: 100vh;
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
}

.split-right{
    border-right: ridge 2px black;
    z-index: 4;
}
#hours-tenths, #hours-firsts, #minutes-tenths, #minutes-firsts{
   -webkit-transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -ms-transition: opacity 1s ease-in-out;
   -o-transition: opacity 1s ease-in-out;
   transition: opacity 1s ease-in-out;
   /* transform-origin: 50% 100%; */
   /* transform-origin: 30vh; */
   /* padding-top: 40px; */
}
#hours-tenths{
  -webkit-animation: pulse 36000s infinite ease-in-out;
  -moz-animation: pulse 36000s infinite ease-in-out;
  -ms-animation: pulse 36000s infinite ease-in-out;
  -o-animation: pulse 36000s infinite ease-in-out;
  animation: pulse 36000s infinite ease-in-out;
} 
#hours-firsts{
  -webkit-animation: pulse 3600s infinite ease-in-out;
  -moz-animation: pulse 3600s infinite ease-in-out;
  -ms-animation: pulse 3600s infinite ease-in-out;
  -o-animation: pulse 3600s infinite ease-in-out;
  animation: pulse 3600s infinite ease-in-out;
}
#minutes-tenths{
  -webkit-animation: pulse 600s infinite ease-in-out;
  -moz-animation: pulse 600s infinite ease-in-out;
  -ms-animation: pulse 600s infinite ease-in-out;
  -o-animation: pulse 600s infinite ease-in-out;
  animation: pulse 600s infinite ease-in-out;
}
#minutes-firsts{
  -webkit-animation: pulse 60s infinite ease-in-out;
  -moz-animation: pulse 60s infinite ease-in-out;
  -ms-animation: pulse 60s infinite ease-in-out;
  -o-animation: pulse 60s infinite ease-in-out;
  animation: pulse 60s infinite ease-in-out;
}

@keyframes pulse {
  100% {
    transform: translateY(-30vh);
  }
}